//colors
$color_sunset_orange_approx: #ff4e50;
$white: #fff;
$color_mountain_mist_approx: #999999;
$color_tundora_approx: #444444;
$color_java_approx: #19d4ca;
$color_sun_approx: #ffa710;
$color_storm_dust_approx: #666666;
$red: red;

//fonts
$roboto_font: Roboto;
$sans-serif_font: sans-serif;
$montserrat_font: Montserrat;

//urls
$url_0: url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
$url_1: url(https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap);
$url_2: url(../img/backgroundBitmap.png);
$url_3: url(../img/Step1.png);
$url_4: url(../img/Step2.png);
$url_5: url(../img/Step3.png);
$url_6: url(../img/Sports.png);
$url_7: url(../img/Wellness.png);
$url_8: url(../img/Extreme.png);
$url_9: url(../img/Games.png);
$url_10: url(../img/culture.png);
$url_11: url(../img/enjoymentRelaxation.png);
$url_12: url(../img/Traveling.png);